@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');

* {
    overflow: hidden;
}

body {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='769' height='769' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23FFEAE1' stroke-width='1.6'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FFD8C5'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");}

p,
li {
    color: #3a3b3c;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    margin-bottom: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: #d85927;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #c65224;
}

.page {
    position: fixed;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.item {
    height: 20rem;
    width: 20rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.item img {
    margin-top: 0%;
    height: auto;
    width: 100%;
    aspect-ratio: 3/2;
    border: #3a3b3c 1px solid;
}

.item p {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Montserrat";
    font-weight: 400;
    margin: 1rem;
    text-align: center;
}

.country-page img {
    margin-top: 25%;
    height: 30%;
    width: auto;
    aspect-ratio: 16/9;
    border: #cacaca 1px solid;
    border-radius: 1rem;
}

.category-page img {
    margin-top: 15%;
    height: 50%;
    width: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
    border: 0;
}

.page {
    transition: transform 0.5s ease-in-out;
}

.info-frame {
    background-color: #ffffff ;
    width: 60vw;
    height: 60vh;
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.info-frame h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Montserrat";
    font-weight: 400;
    margin: 1rem;
    text-align: center;
}

.info-frame p {
    font-size: 1rem;
    font-family: "Montserrat";
    font-weight: 400;
    margin: 1rem;
}

.floating-button {
    color: white;
    position: fixed;
    z-index: 1;
    bottom: 2rem;
    right: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    border: 0;
    border-radius: 1rem;
    background-color: #d85927;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.edit-button {
    color: #cacaca;
    float: right;
    width: 2rem;
    height: 2rem;
    border: 0;
    border-radius: 1rem;
    border: #cacaca 1px solid;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.05s ease-in-out;
}

.edit-button:hover {
    color: #3a3b3c;
    background-color: #cacaca;
}

.edit-button:active {
    color: #3a3b3c;
    background-color: #cacaca;
    transform: scale(0.95);
}

.select {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background-color: #d85927;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.home-page .fas {
    color: white;
    font-size: 4rem;
}

.logo {
    height: auto;
    width: 25vw;
}

.question-item {
    position: relative;
    height: 400px;
    width: 250px;
    margin: 2rem;
    background-color: white;
    border-radius: 1.5rem;
    border: #3a3b3c 2px solid;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.question-box {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-box {
    width: 100%;
    height: 60%;
}

.question-item h1 {
    font-size: 1rem;
    font-weight: bold;
    font-family: "Montserrat";
    font-weight: 500;
    margin: 1.5rem;
    text-align: center;
}

.question-item li {
    font-size: 1rem;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: left;
    height: 30%;
}

.question-item ol {
    list-style-type: upper-alpha;
    list-style-position: inside;
    margin-left: -1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}

.question-seperator {
    height: 3px;
    width: 70%;
    border-radius: 2px;
    background-color: #3a3b3c;
}

.question-page {
    overflow-y: scroll;
}

li.correct-answer {
    font-weight: 700;
}

.edit-form {
    background-color: #ffffff;
    width: 60vw;
    height: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 1rem;
    border-radius: 1rem;
    opacity: 100%;
    transition: opacity 0.5s ease-in-out;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    gap: 1rem;
}

.radio-buttons input {
    width: 1rem;
    height: 1rem;
    margin: 0;
    padding: 0;
}

.radio-buttons label {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.5rem;
}

.edit-form form {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.edit-form .field {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.edit-form .small-field {
    height: 6rem;
}

.edit-form .big-field {
    height: 15rem;
}

.edit-form label {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.5rem;
}

.edit-form input,
.edit-form textarea {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Montserrat";
    font-weight: 400;
    margin-bottom: 0.5rem;
    z-index: 10;
    box-sizing: border-box;
    border: #3a3b3c 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.edit-form textarea {
    height: 100%;
    resize: none;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #d85927;
    border: none;
    color: white;
    padding: 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Montserrat";
    cursor: pointer;
    border-radius: 1rem;
    transition: transform 0.1s ease-in-out;
    padding: 0;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #c65224;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
    background-color: hsl(17, 69%, 46%);
    transform: scale(0.98);
}

.edit-plus {
    height: 6rem;
    width: 6rem;
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: none;
    background-color: #cacaca;
}

.edit-plus:hover {
    background-color: #a4a6a7;
}

.edit-plus:active {
    background-color: #a4a6a7;
    transform: scale(0.98);
}

.edit-plus img {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    opacity: 50%;
    border: 0;
}

.down {
    transform: translateY(100%);
}

.center {
    transform: translateY(0);
}

.up {
    transform: translateY(-100%);
}

.hidden {
    pointer-events: none;
    opacity: 0;
}

.no-display {
    display: none;
}

.edit-question-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 4rem;
    width: 4rem;
    border-radius: 1.5rem;
    background-color: #d85927;
    border: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    transform: translate(1.75rem, -1.75rem);
    padding: 0.7rem;
    transition: transform 0.05s ease-in-out;
}

.edit-question-button:hover {
    color: #cacaca;
    background-color: #c65224;
}

.edit-question-button:active {
    color: #cacaca;
    background-color: #c65224;
    transform: translate(1.75rem, -1.75rem) scale(0.95); 
}

.edit-question-button i {
    color: #ffffff;
}

span {
    width: 200%;
}